# Framework
# ---------
YII_DEBUG=true
YII_ENV=dev

# Databases
# ---------
DB_DSN=mysql:host=localhost;port=3306;dbname=yii2
DB_USERNAME=root
DB_PASSWORD=root
DB_TABLE_PREFIX=t_


ADMIN_EMAIL=admin@gmail.com
ROBOT_EMAIL=robot@gmail.com